@import "tailwindcss";

@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400 500;
    font-display: swap;
    src: url("../fonts/DMSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "DM Sans";
    font-style: italic;
    font-weight: 400 500;
    font-display: swap;
    src: url("../fonts/DMSans-Italic-VariableFont_wght.ttf") format("truetype");
}

@theme {
    --font-default: "DM Sans", sans-serif;
    --color-purple-100: hsl(254, 88%, 90%);
    --color-purple-500: hsl(256, 67%, 59%);
    --color-yellow-100: hsl(31, 66%, 93%);
    --color-yellow-500: hsl(39, 100%, 71%);
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 7%);
}