@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');

@import "tailwindcss";

@theme {
    --color-yellow: hsl(47, 88%, 63%);
    --color-grey: hsl(0, 0%, 50%);
    --color-black: hsl(0, 0%, 7%);
}

body {
    font-family: 'Figtree', sans-serif;
}