@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Figtree', sans-serif;
}