@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

@import "tailwindcss";

@theme {
    --color-soft-blue: hsl(215, 29%, 70%);
    --color-cyan: hsl(178, 100%, 50%);
    --color-blue-main-bg: hsl(217, 54%, 11%);
    --color-blue-card-bg: hsl(216, 50%, 16%);
    --color-blue-line: hsl(215, 32%, 27%);
    --color-white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Outfit', sans-serif;
}